<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="wxWindowFrame">
		<centered>1</centered>
		<size>640,640</size>
		<id_arg>0</id_arg>
		<style>wxCAPTION|wxSYSTEM_MENU|wxCLOSE_BOX|wxNO_BORDER|wxCLIP_CHILDREN</style>
		<object class="wxMenuBar" variable="MenuBar" member="no">
			<object class="wxMenu" variable="MenuFile" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItemQuit" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
				<object class="wxMenu" name="ID_MENU_OPEN" variable="MenuItemOpen" member="yes">
					<label>Open</label>
					<help>Open file or project</help>
					<object class="wxMenuItem" name="ID_MENU_OPEN_LOCAL" variable="MenuItemLocal" member="yes">
						<label>Local</label>
						<accel>Alt-F6</accel>
						<help>Open file or project from local</help>
					</object>
					<object class="wxMenu" name="ID_MENU_OPEN_NET" variable="MenuItemNetwork" member="yes">
						<label>Network</label>
						<help>Open file or project from network</help>
						<object class="wxMenuItem" name="ID_MENU_OPEN_NET163" variable="MenuItemNeteasy" member="yes">
							<label>Neteasy</label>
							<accel>Alt-F7</accel>
							<help>Open file or project from 163.com</help>
						</object>
						<object class="wxMenu" name="ID_MENU_OPEN_NETALIYUN" variable="MenuItemAliyun" member="yes">
							<label>Aliyun</label>
							<help>Open file or project from aliyun</help>
							<object class="wxMenuItem" name="ID_MENU_OPEN_NETALI_TAOBAO" variable="MenuItemTaobao" member="yes">
								<label>Taobao</label>
								<accel>Alt-F8</accel>
								<help>Open file or project from taobao.com</help>
							</object>
							<object class="wxMenuItem" name="ID_MENU_OPEN_NETALI_TMALL" variable="MenuItemTmall" member="yes">
								<label>Tmall</label>
								<accel>Alt-F9</accel>
								<help>Open file or project from tmall.com</help>
							</object>
						</object>
					</object>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="ID_MENU_LINENUMBER" variable="MenuItemLineNumber" member="yes">
					<label>LineNumber</label>
					<help>Show line number</help>
					<checkable>1</checkable>
				</object>
				<object class="wxMenuItem" name="ID_MENU_LINEBREAK" variable="MenuItemAutoBreak" member="yes">
					<label>AutoBreak</label>
					<help>Auto line break</help>
					<checkable>1</checkable>
				</object>
				<object class="separator" />
				<object class="wxMenu" name="ID_MENU_CODING" variable="MenuItemCoding" member="yes">
					<label>Coding</label>
					<help>File encoding</help>
					<object class="wxMenuItem" name="ID_MENU_CODING_ASCII" variable="MenuItemAscii" member="yes">
						<label>ASCII</label>
						<help>File encode with ascii</help>
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="ID_MENU_CODING_UTF8" variable="MenuItemUtf8" member="yes">
						<label>UTF8</label>
						<help>File encode with utf-8</help>
						<radio>1</radio>
					</object>
				</object>
			</object>
			<object class="wxMenu" variable="MenuHelp" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="ID_MENU_ABOUT" variable="MenuItemAbout" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR" variable="StatusBar" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxToolBar" name="ID_TOOLBAR" variable="ToolBar" member="yes">
			<object class="tool" name="ID_TOOLBAR_OPEN" variable="ToolBarItemOpen" member="yes">
				<label>Open</label>
				<bitmap stock_id="wxART_FILE_OPEN" stock_client="wxART_TOOLBAR" />
				<bitmap2 stock_id="wxART_NEW_DIR" stock_client="wxART_TOOLBAR" />
				<tooltip>Open file</tooltip>
				<longhelp>Open file</longhelp>
			</object>
		</object>
	</object>
</wxsmith>
