<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="wxLayoutFrame">
		<centered>1</centered>
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>3</cols>
			<growablecols>2</growablecols>
			<growablerows>1</growablerows>
			<object class="sizeritem">
				<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
					<label>Label(0,0)</label>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
					<label>Label(0,1)</label>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>2</option>
			</object>
			<object class="sizeritem">
				<object class="wxButton" name="ID_BUTTON4" variable="Button4" member="yes">
					<label>Label(0,2)</label>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxButton" name="ID_BUTTON3" variable="Button3" member="yes">
					<label>Label(1,0)</label>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>2</option>
			</object>
			<object class="sizeritem">
				<object class="wxButton" name="ID_BUTTON5" variable="Button5" member="yes">
					<label>Label(1,1)</label>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxButton" name="ID_BUTTON6" variable="Button6" member="yes">
					<label>Label(1,2)</label>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>2</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar" member="no">
			<object class="wxMenu" variable="MenuFile" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItemQuit" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="MenuHelp" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="ID_MENU_ITEM_ABOUT" variable="MenuItemAbout" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR" variable="StatusBar" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
